<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example App - App</title>
  <%- css("main") %>
</head>
<body>
  <h1>Awesome Cool Example App</h1>
  <%- js("app") %>
</body>
</html>