<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example App - Index</title>
  <%- css("main") %>
</head>
<body>
  <div class="container">
    <div class="login">
      <header>
        <img src="images/logo.svg" alt="" width="150" height="150">
        <h1>Tictail API Inspector</h1>
      </header>
      <a href="/login" class="btn btn-primary">Login with Tictail</a>
    </div>
  </div>
</body>
</html>