<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tictail API Explorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://sdk.ttcdn.co/tt-uikit-0.11.0.css">
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>
  <div class="app-container">
    <header>
      <h1>Tictail API Explorer</h1>
    </header>

    <div class="row app">
      <div class="col-sm-7">
        <form action="/api">
          <label>Method</label>
          <div class="well">
            <div class="radio">
              <input type="radio" id="method-get" name="method" checked value="GET">
              <label for="method-get">GET</label>
            </div>

            <div class="radio">
              <input type="radio" id="method-post" name="method" value="POST">
              <label for="method-post">POST</label>
            </div>

            <div class="radio">
              <input type="radio" id="method-delete" name="method" value="DELETE">
              <label for="method-delete">DELETE</label>
            </div>
          </div>

          <div class="form-group">
            <label for="endpoint">Endpoint</label>
            <input type="text" id="endpoint" name="endpoint">
          </div>

          <div id="parameters"></div>

          <div class="request-body-container form-group">
            <label>Request Body (JSON)</label>
            <div class="request-body-outer"><div id="request-body"></div></div>
          </div>

          <div class="form-group">
            <input type="submit" value="Send Request" class="btn btn-primary pull-right">
          </div>
        </form>
      </div>

      <div class="response-container col-sm-5">
        <label>Response</label>
        <div class="response-outer"><div id="response"></div></div>
      </div>
    </div>

    <div class="app row">
        <div class="col-sm-12">
            <hr />
            <h3>Want to write your own code?</h3>
            <p>You can sign up to publish your own app on the <a
                href="https://tictail.com/developers" target="_blank">Tictail
                App Store</a>, but if you just want to play around, use the
            below access token to get going quickly: </p>
            <pre>$ curl https://api.tictail.com/v1/stores/<span id="storeId" class="dynamic-data">x</span> \
    -H 'Authorization: Bearer <span id="accessToken" class="dynamic-data">(not loaded)</span>'</pre>
            <p>The access token is valid for access to this store, as long as you have the API Explorer app.<br />Read all about the API in <a href="https://tictail.com/developers/documentation/api-reference/" target="_blank">our documentation</a>.</p>
        </div>
    </div>
  </div>

  <script type="text/html" id="parameter-input-template">
    <div class="form-group">
      <label for="param-<%= name %>"><%= name %></label>
      <input class="form-control" type="text" name="<%= name %>" required>
    </div>
  </script>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://sdk.ttcdn.co/tt-uikit-0.11.0.js"></script>
  <script src="https://sdk.ttcdn.co/tt.0.12.0.js"></script>

  <script type="text/javascript">
    if (document.location.hostname === "localhost") {
      // Hacky reconfiguration of the API explorer to talk to local env:
      window.TT.api._url = "https://api.tictailhq.com";
      window.TT.native.API_URL = "https://api.tictailhq.com";
      window.TT.native.PARENT_ORIGIN = "https://tictailhq.com";
    }
  </script>

  <!-- build:js({.tmp,app}) scripts/app.js -->
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/ace-builds/src/ace.js"></script>
  <script src="bower_components/ace-builds/src/mode-json.js"></script>
  <script src="bower_components/ace-builds/src/theme-monokai.js"></script>
  <script src="bower_components/tictail-uikit/dist/tictail-uikit.min.js"></script>

  <script src="scripts/endpoints.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild -->
</body>
</html>
