@import "../vendor/tictail-uikit/tictail-uikit.css";

.select2-container, textarea {
  max-width: 320px;
}

.response {
  min-height: 280px;
  overflow: auto;
}

.radio {
  display: inline-block;
  vertical-align: bottom;
}

#parameters {
  display: none;
}

#request-body {
  display: none;
}